/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  body{
    font-family: 'Poppins';
    font-weight: 400;
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    padding: 0;
    margin: 0;
}

/* header */
.header{
    width: 100%;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.head{
    padding-top: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
    
}
.head img{
    width: 150px;
}
.head_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}
.head_list li{
    margin-right: 32px;
}
.head_link{
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.head_link:hover{
    color: red;
}
.head_link:active{
    color: blue;
}
.head_but{
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 11px 25px;
    background: #222222;
    border-radius: 4px;
}
.head_but:hover{
    color: red;
}
.head_but:active{
    color: blue;
}
/* /header */

/* intro */
.intro{
    height: 600px;
    background-image: url("/img/img.jpg");
    background-repeat: no-repeat;
    background-position: 680px;
}
.intro img{
    margin-left: 78px;
    margin-top: 50px;
}
.intro_title {
    padding: 0;
    margin: 0;
    margin-left: 78px;
    font-size: 54px;
    line-height: 59px;
    color: #222222;
    margin-bottom: 18px;
}
.intro_text {
    padding: 0;
    margin: 0;
    margin-left: 78px;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 20px;
}
.intro_link{
    margin-left: 78px;
}
.intro_link a{
    margin: 5px;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #222222;
    border-radius: 4px;
}
.intro_link a:hover{
color: red;
}
.intro_link a:active{
    color: blue;
    }

/* /intro */

/* features */
.features{
    width: 100%;
    height: 1338px;
    background: #222222;
    margin-top: -30px;
}
.features h3{
    position: relative;
    top: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.features h2 {
    position: relative;
    top: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.f_cards{
    position: relative;
    top: 162px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.cards{
    margin: 8px;
    width: 379px;
    height: 490px;
    background-color: #fff;
    border-radius: 20px;
}
.card1{
    position: relative;
    background-image: url(/img/IMAGE.png);
    background-repeat: no-repeat;
    background-position: 75px;
    background-position-y: 40px;
}
.card1 div{
    position: absolute;
    bottom: 0;
    width: 379px;
    height: 197px;
    background: #F2F2F2;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.card1 img{
    background: #0278ED;
    padding: 18px 20px;
    position: relative;
    bottom: 34px;
    left: 157px;
    
}
.card1 h1{
    margin-top: -20px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #0278ED;
}
.card1 p{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}
.card2{
    position: relative;
    background-image: url(/img/IMAGE\ \(3\).png);
    background-repeat: no-repeat;
    background-position: 75px;
    background-position-y: 40px;
}
.card2 div{
    position: absolute;
    bottom: 0;
    width: 379px;
    height: 197px;
    background: #F2F2F2;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.card2 img{
    background: #FF5437;
    padding: 22px 20px;
    position: relative;
    bottom: 34px;
    left: 157px;
    
}
.card2 h1{
    margin-top: -20px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FF5437;
}
.card2 p{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}
.card3{
    position: relative;
    background-image: url(/img/IMAGE.png);
    background-repeat: no-repeat;
    background-position: 75px;
    background-position-y: 40px;
}
.card3 div{
    position: absolute;
    bottom: 0;
    width: 379px;
    height: 197px;
    background: #F2F2F2;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.card3 img{
    background: #FF9209;
    padding: 24px 20px;
    position: relative;
    bottom: 34px;
    left: 157px;
    
}
.card3 h1{
    margin-top: -20px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FF9209;
}
.card3 p{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}
.card4{
    position: relative;
    background-image: url(/img/IMAGE\ \(3\).png);
    background-repeat: no-repeat;
    background-position: 75px;
    background-position-y: 40px;
}
.card4 div{
    position: absolute;
    bottom: 0;
    width: 379px;
    height: 197px;
    background: #F2F2F2;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.card4 img{
    background: #E738CE;
    padding: 20px 24px;
    position: relative;
    bottom: 34px;
    left: 157px;
    
}
.card4 h1{
    margin-top: -20px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #E738CE;
}
.card4 p{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}
.card5{
    position: relative;
    background-image: url(/img/IMAGE.png);
    background-repeat: no-repeat;
    background-position: 75px;
    background-position-y: 40px;
}
.card5 div{
    position: absolute;
    bottom: 0;
    width: 379px;
    height: 197px;
    background: #F2F2F2;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.card5 img{
    background: #00C6DF;
    padding: 20px 20px;
    position: relative;
    bottom: 34px;
    left: 157px;
    
}
.card5 h1{
    margin-top: -20px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #00C6DF;
}
.card5 p{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}
.card6{
    position: relative;
    background-image: url(/img/IMAGE\ \(3\).png);
    background-repeat: no-repeat;
    background-position: 75px;
    background-position-y: 40px;
}
.card6 div{
    position: absolute;
    bottom: 0;
    width: 379px;
    height: 197px;
    background: #F2F2F2;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.card6 img{
    background: #B25DF8;
    padding: 24px 20px;
    position: relative;
    bottom: 34px;
    left: 157px;
    
}
.card6 h1{
    margin-top: -20px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #B25DF8;
}
.card6 p{
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}

/* /feature */

/* numbers */
.numbers{
    width: 100%;
    height: 316px;
    background: #FF5437;
}
.numbers_top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.numbers_top h3{
    position: relative;
    right: 90px;
    margin-left: 200px;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #FFFFFF;
}
.numbers_bot{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.numbers_bot p{
    position: relative;
    right: 90px;
    bottom: 100px;
    margin-left: 230px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* /numbers */

/* /technology */
.technology{
    margin-top: 60px;
    height: 600px;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-position: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.techno{
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
    margin-top: 120px;
    margin-bottom: 5px;
}
.techno_title{
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 15px;
}
.techno_text{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #666666;

}
.techno_img{
    width: 325px;
    position: relative;
    top: 50px;
    left: 310px;
}
/* /technology */

/* security */
.security{
    position: relative;
    top: -125px;
    background: #F2F2F2;
    margin-top: 100px;
    height: 600px;
    background-image: url("/img/bg.png");
    background-repeat: no-repeat;
    background-position: 236px;
    background-position-y: 100px;
}
.secur{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.secur_h{
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
    margin-top: 200px;
    margin-bottom: 5px;
}
.secur_title{
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 15px;
}
.secur_text{
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #666666;

}
.secur_img{
    width: 325px;
    position: relative;
    top: 125px;
    left: 125px;
    margin-right: 340px;
}

/* /security */

/* dark mode */
.dark{
    width: 100%;
    height: 950px;
    background: #222222;
    position: relative;
    top: -130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.mode{
    position: absolute;
    top: 100px;
}
.mode h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mode h2 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.mode p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.mode_img1{
    position: absolute;
    left: calc(50% - 400px/2);
    top: 250px;
}
.hr{
    width: 600px;
    height: 2px;
    background: #E5E5E5;
    position: absolute;
    top: 740px;
}
#mode{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 800px;
}
.sun{
    text-align: center;
    margin-right: 20px;
}
.moon{
    text-align: center;
    margin-left: 20px;
}
.sun span {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.moon span {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* /dark mode */

/* pricing */
.pricing h3{
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}
.pricing h2{
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #222222;
    margin-bottom: 14px;
}
.pricing p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    margin-bottom: 33px;
}
.p_cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.cards_card1{
    margin: 8px;
    width: 379px;
    height: 338px;
    background: #F2F2F2;
    border-radius: 20px;
}
.cards_card1 h3{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #0278ED;
    margin-top: 49px;
}
.cards_card1 span{
    font-size: 108px;
    line-height: 124px;
    text-align: center;
    letter-spacing: 8px;
    color: #0278ED;
    margin-left: 117px;
}
.cards_card1 p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}
.cards_card1 a{
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 25px;
    background: #0278ED;
    border-radius: 4px;
    margin-left: 125px;
}
.cards_card1 a:hover{
    color: red;
}
.cards_card1 a:active{
    color: blue;
}
.cards_card2{
    margin: 8px;
    width: 379px;
    height: 338px;
    background: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 100px;
}
.cards_card2 h3{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FF5437;
    margin-top: 49px;
}
.cards_card2 span{
    font-size: 108px;
    line-height: 124px;
    text-align: center;
    letter-spacing: 8px;
    color: #FF5437;
    margin-left: 82px;
}
.cards_card2 p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}
.cards_card2 a{
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 25px;
    background: #FF5437;
    border-radius: 4px;
    margin-left: 125px;
}
.cards_card2 a:hover{
    color: red;
}
.cards_card2 a:active{
    color: blue;
}
.cards_card3{
    margin: 8px;
    width: 379px;
    height: 338px;
    background: #F2F2F2;
    border-radius: 20px;
}
.cards_card3 h3{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FF9209;
    margin-top: 49px;
}
.cards_card3 span{
    font-size: 108px;
    line-height: 124px;
    text-align: center;
    letter-spacing: 8px;
    color: #FF9209;
    margin-left: 63px;
}
.cards_card3 p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}
.cards_card3 a{
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 25px;
    background: #FF9209;
    border-radius: 4px;
    margin-left: 125px;
}
.cards_card3 a:hover{
    color: red;
}
.cards_card3 a:active{
    color: blue;
}

/* /pricing */

/* customers */
.costumer-section{
background: #F2F2F2;
width: 100%;
height: 554px;

}
.costumer-section-title{
    position: relative;
    top: 100px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;
}
.costumer-section-title2{
    position: relative;
    top: 75px;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #222222;
}
.costumer-section-text{
    position: relative;
    top: 70px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #666666;
}
.costumer{
    position: relative;
    top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.costumer-card{
    width: 379px;
    height: 224px;
    background-color: white;
    border-radius: 20px;
    margin: 8px;
}
.costumer-card-car{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 65%; 
}
.costumer-card-text{
    margin-left: 30px;
    margin-top: 30px;
}
.costumer-card-car-img{
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.costumer-card2{
    width: 379px;
    height: 224px;
    background-color: white;
    border-radius: 20px;
    margin: 8px;
}
.costumer-card2-car{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 65%; 

}
.costumer-card2-text{
    margin-left: 30px;
    margin-top: 30px;
}
.costumer-card2-car-img{
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.costumer-card3{
    width: 379px;
    height: 224px;
    background-color: white;
    border-radius: 20px;
    margin: 8px;
}
.costumer-card3-car{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 65%; 
}
.costumer-card3-text{
    margin-left: 30px;
    margin-top: 30px;
}
.costumer-card3-car-img{
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* /customers */

/* dowload */
.dowload h4{
    margin: 0;
    padding: 0;
    margin-top: 80px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase; 
    color: #222222;
    margin-bottom: 5px;
    
}
.dowload h2{
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 36px;    
    text-align: center; 
    color: #222222;   
    margin-bottom: 14px; 
}
.dowload p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #666666;
    margin-bottom: 27px;
}
.dowload a{
    margin-left: 521px;
}

/* /dowload */

/* faq */
.faq{
    margin-top: 120px;
    width: 100%;
    height: 644px;
    background: #E5E5E5;
}
.faq h2{
    position: relative;
    top: 105px;
    font-size: 32px;
    line-height: 36px;    
    color: #222222;    
}
.faq span{
    position: relative;
    top: 85px;
    font-size: 15px;
    line-height: 20px;
    color: #222222;
}
.faq-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    top: 100px;
}
.text-question {
    font-size: 18px;
    line-height: 28px;
    color: #222222;
}
.text-answer{
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 40px;    
}
/* /faq */

/* footer */
.footer{
    width: 100%;
    height: 427px;
}
.footer-img1{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}
.footer-img2{
    display: block;
    margin: 0 auto;
    margin-bottom: 27px;
}
.footer-icons{
    text-align: center;
}
.footer-icons i{
    font-size: 24px;
    margin: 10px;
}
.footer-text{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #B1B1B1;    
}
.footer-text-el{
    color: #666666;
}
/* /footer */
